.abc-filter, .abc-sidebar{
    box-shadow: 6px 0 14px 0 rgba(144,134,236,0.12);

    width: 390px;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    padding: 120px 45px 45px;
}
.abc-filter__form{margin-top: 30px;}