.topbar {
  position       : fixed;
  top            : 0;
  left           : 0;

  z-index: 10;

  width          : 100vw;
  padding: 0 60px;

  display        : flex;
  align-items    : center;
  justify-content: space-between;

  overflow: hidden;

  background: $white;

  a{
    font-family: $primary;
    @include rem-size(16);
    color: $black;
    letter-spacing: 0;
  }
}


.topbar__navigation{
  height: 100%;
  background: $white;
  padding        : 18px 0;

  ul{
    display: flex;
    list-style: none;
  }

  li + li {
    margin-left: 20px;
  }
}