.abc-results{
    @include set-col(s,4);
    @include set-col(md,4);
    @include set-col(lg,10);
    grid-row: 1;
    height: calc(100vh - 120px);

    padding: 60px;

    @include media-max(md){
        grid-row: 2;
        height: calc(100vh - 209px);
    }

    background: rgba(#FF0000, .3);
}
.abc-el{
    margin-bottom: 30px;

}

.abc-nbresults{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 65px;

    background: rgba(#FF0000, .3);
    flex: 1 60%;
}

