h1{
  font-family: $tertiary;
  font-weight: 300;
  @include rem-size(40);
}

h2{
  font-family: $secondary;
  font-weight: 700;
  @include rem-size(32);
}

h3{
  font-family: $secondary;
  font-weight: 500;
  text-transform: uppercase;
  @include rem-size(24);
}

h4{
  font-family: $secondary;
  font-weight: 400;
  @include rem-size(18);
  text-transform: uppercase;
}
p {
  font-family: $secondary;
  font-weight: 300;
  @include rem-size(16);
}

.link {
  color      : $black;
  font-family: $primary;
  font-weight: 300;

  &--big{
    display: inline-block;
    color: $white;;
    font-family: $secondary;
    @include rem-size(30);

    margin-top: 20px;
    &:after{
        content: '';
        display: inline-block;
        width: 100%;
        height: 1px;
        background: $white;
        transform: translateY(-30px);
    }
  }
}


// TEMP
.line {
  display: block;
  overflow: hidden;
}