.abc-autocomplete{
    position: relative;
    height: 60px;
}
.abc-autocomplete__items{
    overflow: auto;
    list-style: none;

    position: absolute;
    top:calc(100% + 10px);
    left: 0;

    z-index: 11;

    background: $white;
    width: 100%;

    max-height: 300px;

    border: 1px solid rgba($purple,0.12);

    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;

    transition: transform .2s ease, opacity .1s ease;
    &.abc-autocomplete--open{
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        transition: transform .2s ease, opacity .1s ease;
    }
}
.abc-autocomplete__item{
    padding:  20px;
    cursor: pointer;

    position: relative;

    font-family: $secondary;
    @include rem-size(18);
    font-weight: 400;
    color: $black;
    text-transform: lowercase;
    border-bottom: 1px solid rgba($purple, .12);
    * {
        pointer-events: none;
    }
    &::before{
        content: '';

        display: block;

        width: 3px;
        height: 100%;
        background: $yellow;

        transform: scaleX(0);

        position: absolute;
        top: 0;
        left: 0;
        transform-origin: left;
        transition: transform .3s ease;
    }
    &:focus::before, &:hover::before{
        background: $yellow;
        transform: scaleX(1);
    }
}

.hl{
    font-weight: 800;
}