$black      : #000000;
$white      : #ffffff;
// $lightyellow: #FEF5D9;
// $yellow: #FFBE00;
// $purple: #1000FF;
// $lightred: #FFFCE4;
// $red: #F16F47;
// $pink: #FF0058;
// $lightblue: #DEF4F7;
// $blue: #4360E7;
// $green: #00FF22;
// $orange: #FB6436;
// $white: #FFFFFF;

$orange     : #FF6850;
$lightorange: #FAA89A;
$slateBlue : #484089;

$purple     : #9086EC;
$lightpurple: #B2AAF6;

$yellow     : #FFC159;
$lightyellow: #FBD799;
$red: #E74634;

$blue       : #4360E7;
$lightblue  : #98A7ED;