@import url('https://fonts.googleapis.com/css?family=Rozha+One|Yantramanav:300,400,500,600,700,900&display=swap');
@include font-face("Butler", '~@fonts/Butler', normal, 'normal', woff woff2);


$primary: 'Rozha One', serif;
$secondary:'Yantramanav', sans-serif;
$tertiary:'Butler', sans-serif;
