.topbar {
  position       : fixed;
  top            : 15px;
  left           : 0;

  z-index: 10;

  width          : 100vw;
  height         : 30px;
  padding        : 0 45px;

  display        : flex;
  align-items    : center;
  justify-content: space-between;

  overflow: hidden;

  a{
    font-family: $primary;
    @include rem-size(16)
    color: $black;
    letter-spacing: 0;
  }
}


.topbar__navigation{
 

  ul{
    display: flex;
    list-style: none;
  }

  li + li {
    margin-left: 20px;
  }
}